.container{
    margin-bottom: 100px;
}
.carousel-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1{
    background-image: linear-gradient(to left, rgb(248, 181, 58) 0%, rgb(219, 121, 0) 100%);

}
.cat2{
    background-image: linear-gradient(to bottom, rgb(250, 96, 217) 0%, rgb(201, 20, 119) 100%);
}
.cat3{
    background-image: linear-gradient(to right, rgb(99, 101, 247) 0%, rgb(0, 35, 190) 100%);
}
.cat1, .cat2 ,.cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.catagories h1{
    color: white;
}
.catagories img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: grey;
}
.submit{
    margin-top: 5px;
}
footer{
    text-align: center;
}